.pagination-container{
    display: grid;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
}

.pagination button,
.pagination input {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: #234972;
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
}

.pagination button:hover,
.pagination button:disabled:hover {
    background-color: #2349729d;
}

.pagination span {
    font-size: 14px;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 6px;
}

.pagination input {
    width: 200px;
    text-align: center;
}

.pagination form {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .pagination {
        flex-wrap: wrap;
        gap: 10px;
    }

    .pagination button,
    .pagination input,
    .pagination span {
        flex: 1 1 auto;
        width: auto;
        max-width: 120px;
    }

    .pagination form {
        flex-direction: row;
    }
}