.pagination-container{
    display: grid;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
}

.pagination button {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
}

.pagination button:hover,
.pagination button:disabled:hover {
    background-color: #2349729d;
}

.pagination span {
    font-size: 14px;
    color: #007bff;
    background-color: #e9ecef;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #007bff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: bold;
}

.pagination input {
    width: 200px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: #333;
    border: 1px solid #007bff;
    border-radius: 4px;
    outline: none;
}

.pagination input::placeholder {
    color: white;
}

.pagination input:focus {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.pagination form {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .pagination {
        flex-wrap: wrap;
        gap: 10px;
    }

    .pagination button,
    .pagination input,
    .pagination span {
        flex: 1 1 auto;
        width: auto;
        max-width: 120px;
    }

    .pagination form {
        flex-direction: row;
    }
}
