.app-container {
    min-height: 100vh; /* Asegura que el contenedor cubra toda la pantalla visible */
    background-image: url('../assets/bg.png');
    background-size: cover; /* Cubre todo el contenedor */
    background-position: center; /* Centra la imagen */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed; /* Fija el fondo en la ventana del navegador */
  }