.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters label {
    display: flex;
    align-items: center;
}

.filters label select {
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
}
